body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.logHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.logHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.commonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.headingRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  width: 100%;
}

.headerActionsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  width: max-content;
}

.pageText {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  color: slategray;
  font-size: small;
}

.adaptiveRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.searchRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  max-width: 30rem;
}

.commonColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loggerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #89cff0;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.searchInput {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: #f8f8f8;
  transition: all 0.3s ease-in-out;
}

.searchInput:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0.5rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.button:hover {
  background-color: #45a049;
}

.secondaryButton {
  border: none;
  color: darkgray;
  padding: 0.5rem;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px gray;
}

.label {
  color: white;
  font-size: small;
  margin-bottom: 2px;
}

.headerItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 8rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 2rem;
  border-radius: 0.5rem;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
}

.logsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.separator {
  border-left: 1px solid #ddd;
  height: 100%;
  position: absolute;
  left: 50%;
}

.loader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  height: 100%;
}

.errorText{
  color: red;
}

.logsHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: darkgray;
  font-weight: 600;
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .adaptiveRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .headerActionsRow{
    width: 100%;
  }
  .content{
    flex-direction: column;
    justify-content: center;
  }
  .filterContainer{
    width: 100%;
    box-sizing: border-box;
  }
}
